@model SampleClient.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>This is the Sample Client</h2>
    @if (Session["userId"] == null)
    {
        <div>@Html.ActionLink("Login", "Login", "Account")</div>
    }
    else
    {
        <div>你已经登录！</div>
        <table>
            <tr>
                <td>用户ID</td>
                <td>@Session["userId"]</td>
            </tr>
            <tr>
                <td>用户名</td>
                <td>@Session["name"]</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>@Session["gender"]</td>
            </tr>
            <tr>
                <td>电子邮件</td>
                <td>@Session["email"]</td>
            </tr>
            <tr>
                <td>生日</td>
                <td>@Session["birthday"]</td>
            </tr>
        </table>
    }
</body>
</html>
