@model OpenEcnu.UserInterface.Models.AppModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查看应用详细信息</title>
    <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.min.css" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <!--Header Begin-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">开放平台</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("API文档", "Index", "ApiList")</li>
                    <li class="active">@Html.ActionLink("应用管理", "Index", "App")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.UserName == null || string.IsNullOrEmpty(ViewBag.UserName))
                    {
                        <li>@Html.ActionLink("登录", "Login", "Account")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎，@ViewBag.UserName<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("注销", "Logout", "Account")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--Header End-->
    <div class="jumbotron" style="padding-top: 1px"></div>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="container">
            <h3 style="font-family: 微软雅黑;">@ViewBag.ErrorMessage</h3>
            <input type="button" id="btnBack" class="btn" value="返回上一页" onclick="history.back();"/>
        </div>
    }
    else
    {
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10" style="font-size: large">应用基本信息</div>
                        @if (ViewBag.UserName != ViewBag.Owner)
                        {
                            <div></div>
                        }
                        else
                        {
                            <div class="col-md-1">@Html.ActionLink("编辑", "Modify", new RouteValueDictionary(new Dictionary<string, object>()
                                                  {
                                                      {"appkey", Model.AppKey}
                                                  }), new Dictionary<string, object>()
                                                  {
                                                      {"class", "btn btn-success"}
                                                  })</div>
                            <div class="col-md-1">@Html.ActionLink("删除", "Delete", new RouteValueDictionary(new Dictionary<string, object>()
                                                  {
                                                      {"appkey", Model.AppKey}
                                                  }), new Dictionary<string, object>()
                                                  {
                                                      {"class", "btn btn-danger"}
                                                  })</div>
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr><td>App Key：</td><td>@Model.AppKey</td></tr>
                        <tr><td>App Secret：</td><td>@Model.AppSecret</td></tr>
                        <tr><td>应用名称：</td><td>@Model.Name</td></tr>
                        <tr><td>应用描述：</td><td>@Model.Description</td></tr>
                        <tr><td>应用地址：</td><td>@Model.RedirectUri</td></tr>
                        <tr><td>所有者：</td><td>@ViewBag.Owner</td></tr>
                    </table>
                </div>
            </div>
        </div>
    }
</body>
</html>
